<p style="color: green"><%= notice %></p>

<h1>Clients</h1>
<%= link_to "New client", new_client_path %>

<table id="table" class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>DOB</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <%= render client %>
      </tr>
    <% end %>
  </tbody>
</table>
